.new-board-button {
  padding: 100px 50px;
  color: #43526D;
  border: 2px solid black;
  border-radius: 20px;
  cursor: pointer;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 510;
  transition: background-color 0.3s ease;
  position: relative; /* Change position to relative */
  width: 224px;
  height: 194px;
  resize: none;
  transform: rotate(0deg);
  margin-bottom: 10px;
  left: 400px; /* Adjust horizontal position using left */
  bottom: 135px; /* Adjust vertical position using top */
}

.new-board-button:hover {
  background-color: lightgrey;
}

.icon {
  position: absolute;
  top: 0;
  margin-left: 35px;
  margin-top: 60px;
}
  