<div class="flex flex-row gap-6 w-auto mt-10 ml-10 2xl:mt-12 2xl:ml-12">
  <div *ngIf="board">
    <p>{{ board.title }}. {{ board.description }}</p>
    <br>
    <div cdkDropList cdkDropListOrientation="horizontal" [id]="'board-' + board.id" [cdkDropListData]="board.lists"
      (cdkDropListDropped)="dropGroup($event)">
      <!-- List Start -->
      <div class="dragdropList-list flex gap-4 flex-row pr-4 pb-4">
        <div *ngFor="let list of board.lists" cdkDropListGroup cdkDragLockAxis="x" [cdkDragData]="board.lists" class="dragdropList-listBox flex flex-col bg-white
        rounded shadow-md p-4 gap-4" cdkDrag>

          <div class="flex justify-between">
            <h2>{{ list.title }}</h2>
            <div class="flex gap-3">
              <div
                class="p-1 text-gray-500 cursor-move self-center justify-self-center hover:bg-slate-100 hover:text-black hover:rounded"
                cdkDragHandle>
                <app-svg icon="dragH" class="w-6 h-6"></app-svg>
              </div>
              <div
                class="p-1 text-gray-500 cursor-pointer self-center justify-self-center hover:bg-slate-100 hover:text-black hover:rounded">
                <app-svg icon="dotsH" class="w-6 h-6"></app-svg>
              </div>
            </div>
          </div>

          <!-- Cards start -->
          <div class="flex flex-col gap-4 flex-grow min-h-8" cdkDropList [id]="'list-' + list.id"
            [cdkDropListData]="list.cards" (cdkDropListDropped)="dropCard($event)"
            [cdkDropListConnectedTo]="getConnectedList()">

            <div *ngFor="let card of list.cards" cdkDrag [cdkDragData]="card"
              class="bg-gray-100 rounded-md px-6 py-4 cursor-pointer hover:shadow-md">
              <h4 class="font-medium">{{ card.title }}</h4>
              <p>{{ card.description }}</p>
            </div>
          </div>
          <!-- Cards end -->

          <div
            class="flex mt-auto px-2 py-2 cursor-pointer rounded-md text-gray-500 hover:bg-slate-100 hover:text-gray-900">
            <app-svg icon="addNew" class="mr-2 w-6 h-6 self-center justify-self-center" cdkDragHandle></app-svg>
            <div>Add a new card</div>
          </div>
          <!-- Lists end -->
        </div>
      </div>
    </div>

    <!-- If board is Null -->
    <div *ngIf="!board">
      <p>Board is empty.</p>
    </div>
  </div>
  <app-new-list></app-new-list>
</div>
