<div class="mt-10 ml-10 2xl:mt-12 2xl:ml-12">
  <h1 class="mb-2 text-2xl 2xl:text-4xl font-semibold">{{ pageTitle }}</h1>
  <p class="2xl:text-lg">{{ pageHeader }}</p>
  <h4 class="mt-6 text-xl 2xl:text-[1.7rem] font-medium">{{ boardHeader }}</h4>
  <div class="mt-4">
    <!-- If error -->
    <div *ngIf="errorMessage" class="error-message">
      <p class="font-medium">{{ errorMessage }}</p>
    </div>

    <!-- If NOT error -->
    <div *ngIf="!errorMessage">

      <div class="flex flex-wrap">
        @for( board of boardData; track board.id){

        <a [routerLink]="['/board', board.id]" class="w-1/4 mx-2 bg-white rounded overflow-hidden shadow-lg">

          <div class="px-6 py-4">
            <h4 class="font-bold text-xl mb-2">{{ board.title }}</h4>
            <p class="text-gray-700 text-base">
              {{ board.description }}
            </p>
          </div>

        </a>

        }
      </div>
    </div>
  </div>
</div>
