<div class="mt-10 mx-10 2xl:mt-12 2xl:mx-12">
  <h1 class="mb-2 text-2xl 2xl:text-4xl font-semibold">{{ pageTitle }}</h1>
  <p class="2xl:text-lg">{{ pageHeader }}</p>

  <div class="flex mt-6 items-center">
    <app-svg icon="board" class="mr-2 h-[1.2rem] w-[1.2rem] 2xl:h-6 2xl:w-6 2xl:mr-3"></app-svg>
    <h4 class=" text-[1.4rem] 2xl:text-[1.7rem] font-semibold">{{ boardHeader }}</h4>
  </div>

  <div class="mt-4">
    <!-- If error -->
    <div *ngIf="errorMessage" class="error-message" class="m-7">
      <p class="font-medium text-red-700">{{ errorMessage }}</p>
    </div>

    <!-- If NOT error -->
    <div *ngIf="!errorMessage">

      <div class="flex flex-wrap ml-7 2xl:ml-10 gap-6">
        @for( board of boardData; track board.id){

        <a [routerLink]="['/board', board.id]" class="w-1/4 bg-white rounded overflow-hidden shadow-lg">

          <div class="px-6 py-4">
            <h4 class="font-bold text-xl mb-2">{{ board.title }}</h4>
            <p class="text-gray-700 text-base">
              {{ board.description }}
            </p>
          </div>
        </a>
        }
        <div (click)="openModal()" class="cursor-pointer">Create a New Board</div>
      </div>
    </div>
  </div>
      <app-new-board class="new-board-button"></app-new-board>
</div>
